{% extends 'flatpages/default.html' %}

{% block title %}
    Профиль {{request.user.username}}
{% endblock title %}

{% block content %}
    <h2>Страница авторизованного пользователя {{request.user.username}}</h2>
    <div> Здесь может содержаться персональная информация для каждого пользователя </div>
    <hr>

    {% if adverts %}
        <h3>Объявления {{ request.user.username }}:</h3>
        {% for advert in adverts %}
            <a href="{% url 'replies_by_advert' advert.id %}">{{ advert.adv_name }}, </a>
        {% endfor %}

    {% endif %}
    {% if adv_replies %}
        <br>
        {% block replies %}
        {% endblock replies %}
    {% else %}

        <a href="/">Назад</a>
    {% endif %}
    <hr>

    {% if replies %}
        <h3>Отклики {{ request.user.username }}:</h3><br>
        {% for reply in replies %}
            {{ reply.text }} {{ reply.created_reply }} - {{ reply.advert }}<br><br>
        {% endfor %}

    {% endif %}
    <hr>
    <button> <a href="sign/logout/">Выйти</a> </button>
    {% if is_not_announcers %}
        <button> <a href="sign/upgrade/">Подать объявление!</a> </button>
    {% endif %}
{% endblock %}

