{% extends 'flatpages/default.html' %}

{% load custom_filters %}


{% block title %}
    Объявления
{% endblock title %}


{% block content %}
    <h1>Все объявления</h1>
    <h3>Общее количество: {{ adverts | length }}</h3>
    <form method="GET">
        {{ filter.form }}
        <input type="submit" value="Найти">
    </form>

    <hr>
    {% if adverts %}
        <table>
            <tr>
                <td>
                    Рисунок
                </td>
                <td>
                    файл
                </td>
                <td>
                    видео
                </td>
                <td>
                    Название
                </td>
                <td>
                    Категория
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Содержание
                </td>
            </tr>
        {% for advert in page_obj %}
            <tr>
                <td>
                    {% if advert.image %}
                        <img src="{{ advert.image.url }}" alt="{{ advert.title }}" width="70">
                    {% endif %}
                </td>
                <td>
                    {% if advert.file %}
                        <img src="{{ advert.file.url }}" alt="{{ advert.title }}" width="70">
                    {% endif %}
                </td>
                <td>
                    {% if advert.video %}
                        <img src="{{ advert.video.url }}" alt="{{ advert.title }}" width="70">
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'adverts:advert' advert.id %}">{{ advert.adv_name }}</a>
                    <a href="{% url 'adverts:advert_update' advert.id %}"><u> Редактировать </u></a>
                 <a href="{% url 'adverts:advert_delete' advert.id %}"><u> Удалить </u></a>
                </td>
                <td>
                    {{ advert.category.cat_name }}
                </td>
                <td>
                    {{ advert.created | date:'d M Y' }}
                </td>
                <td>
                    {{ advert.content | truncatechars:100 }}
                </td>
            </tr>
        {% endfor %}
        </table>
        <hr>
        <a href="{% url 'adverts:advert_create' %}">Добавить новую запись</a> <br>
        <hr>
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">>>></a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    {% else %}
        <h2>Объявлений нет!</h2>
        <a href="{% url 'adverts:advert_create' %}">Добавить новую запись</a> <br>
    {% endif %}

{% endblock content %}
